<table class="OrcTable" border='1'>
	<tr><th id="OrcTableC01TH">Character</th>  <th id="OrcTableC02TH">Orc</th></tr>
	<tr><td id="OrcTableC01R01">Moves</td>     <td id="OrcTableC02R01"></td></tr>
	<tr><td id="OrcTableC01R02">Type</td>      <td id="OrcTableC02R02"></td></tr>
	<tr><td id="OrcTableC01R03">Experience</td><td id="OrcTableC02R03"></td></tr>
	<tr><td id="OrcTableC01R04">Health</td>    <td id="OrcTableC02R04"></td></tr>
	<tr><td id="OrcTableC01R05">Strenght</td>  <td id="OrcTableC02R05"></td></tr>
</table>